.custom-tooltip {
    background-color: #04838f ;
    color: #fff;
    padding: .5rem 2rem;

    span {
        display: block;
        font-size: 1.3rem;

        &:last-child {
            font-weight: 700;
            margin-top: .5rem;
            font-size: 1rem;

            &::before {
                content: '🥇';
            }
        }
    }
}

::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    padding: 0;
}