main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    
    .back {
        text-decoration: none;
        color: #fff;
        background-color: #04838f;
        border-radius: 10px;
        padding: .5rem 1rem;
        margin-top: 4rem;
        transition: background-color .3s ease;

        &:hover {
            background-color: darken(#04838f, 10%);
        }
    }
}

::ng-deep .statistics {
    width: 600px !important;
}